.pdf_Cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.darft_container {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxDarft {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.pdf_Box {
    width: 100%;
}

.pdf_banner {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 30px;
    border-bottom: 4px solid goldenrod;
    position: relative;

}

.pdf_banner_img {
    display: flex;
    align-items: center;
}

.pdf_banner_img>h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: goldenrod;
}

.pdf_bannerImgBox {
    height: 150px;
    width: 190px;
    /* background-color: blueviolet; */
}

.pdf_bannerImgBox>img {
    width: 100%;
    height: 100%;
}


.pdf_main {
    width: 100%;
    height: 40px;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(205, 205, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}


.by {
    text-align: center;
    font-size: 14px;
}

.main_pageLink {
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pdf-text>p {
    text-align: center;
}

@media screen and (max-width: 460px) {
    .darft_container {
        width: 360px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .pdf_bannerImgBox {
        height: 80px;
        width: 90px;

    }

    .pdf_banner_img>h1 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        color: goldenrod;
    }


    .pdf_banner {
        width: 100%;
        height: 195px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px 10px;
        border-bottom: 4px solid goldenrod;
        position: relative;

    }

    .boxDarft {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        border-bottom: 1px solid rgb(214, 214, 214);
    }

    .pdf_main {
        height: 50px;
    }

    .pdf-text>p {
        font-size: 13px;
    }
}

@media screen and (max-width: 365px) {
    .darft_container {
        width: 330px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}